<div style="margin: 20px;">
  <h1>📂 Repositorio de Enlaces</h1>

  @if (enlaces.length > 0) {
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Link</th>
          <th>Seleccionar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        @for (enlace of enlaces; track enlace.id) {
          <tr>
            <td>{{ enlace.id }}</td>
            <td>{{ enlace.nombre }}</td>
            <td><a href="{{ enlace.link }}" target="_blank">{{ enlace.link }}</a></td>
            <td>
              <button type="button" class="btn btn-warning" (click)="seleccionarEnlace(enlace)">Seleccionar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="eliminarEnlace(enlace.id)">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <h3>NO HAY ENLACES</h3>
  }

  <div>
    <p>
      ID: <input type="number" [(ngModel)]="enlace.id" />
    </p>
    <p>
      Nombre: <input type="text" [(ngModel)]="enlace.nombre" />
    </p>
    <p>
      Link: <input type="text" [(ngModel)]="enlace.link" />
    </p>
    <p>
      <button type="button" class="btn btn-primary" (click)="agregarEnlace()">Agregar</button>
    </p>
    <p>
      <button type="button" class="btn btn-success" (click)="modificarEnlace()">Modificar</button>
    </p>
  </div>
</div>

<router-outlet></router-outlet>
